.meunavbar {
    color: #0112ff;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 900px;
}


.botao-lilas {
    background-color: #9353FF;
    color: #FFFFFF;
}

.verde-limao {
    color: #DAFF01;
}

.texto-menor {
    font-size: 13px;
} 
